default: &default
  x_api_key: KEY_FROM_BUNGIE
  oauth:
    client_id: ID_FROM_BUNGIE
    client_secret: SECRET_FROM_BUNGIE
  twitter:
    consumer_key: KEY_FROM_TWITTER
    consumer_secret: SECRET_FROM_TWITTER
    access_token: TOKEN_FROM_TWITTER
    access_token_secret: TOKEN_SECRET_FROM_TWITTER
    username: BungieHelp_ru
  rails_admin: PASS
  email:
    address: smtp.yandex.ru
    port: 465
    user_name: mail@destiny.community
    password: PASSWORD

development:
  <<: *default
  secret_key_base: c4387608425f9398ed2f47cca75a64ce54167129510b8b4da544994953ee7f3b13e93e0355f6ccda96beb041c5f42375ff2943bfd2879f17e33382ee6301288c

test:
  <<: *default
  secret_key_base: 8eba60b75d268b3ac18e965e6432348bb3f042ed077a079948196ca5e4761b0326dd7c9a06735979dcbaa141759c3f1aa0e015b3d76e9487e821cada9f080bca

staging:
  <<: *default
  secret_key_base: STH

production:
  <<: *default
  secret_key_base: STH
